* {
    margin: 5;
    padding: 10;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    font-size: 20px;
}

.imgbox {
    display: grid;
    height: 100%;
}

.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}